/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-feb-2020, 10:51:58
    Author     : adonoso
*/

h1 {
    font-size: 3em;
}

p {
    width: 100%;
}

.h20 {
    height: 20%;
}

.h80 {
    height: 80%;
}

.fondo {
    width: 100%;
    height: 300px !important;

    padding: 0;
}

.marg-top {
    margin-top: 20px;
}

.no-padding {
    padding: 0;
}

.add-padding {
    padding: 25px;
}

.center {
    text-align: center;
}

.fondo-s {
    width: 100%;
    height: 150px;

    padding: 0;
}

.middle-height {
    height: 50%;
}

.parallax {
    width: 100%;
    height: 100%;

    margin: 0;
}

.back-trans {
    background: transparent;
}

.colab-img {
    width: 225px;
    height: 100px;
}
.colab-img-rounded {
    width: 150px;
    height: 150px;
}

.diff-height {
    min-height: 450px;
}

.image-div {
    height: 160px;
}

.format-div {
    font-size: 1.25em;

    text-align: justify;
    padding: 75px 125px;
}

.format-div-colabs {
    text-align: justify;
    padding: 1% 5%;
}

.format-div-lessp {
    font-size: 1.25em;

    text-align: justify;
    padding: 30px 60px;
}

.format-div-b {
    min-height: 500px;
    font-size: 1.25em;
    text-align: justify;
}

.col {
    height: 100%;
}

.faq {
    margin-top: 20px;
}

.faq p {
    margin: 0 5%;
    text-align: justify;
    width: fit-content;
}

.pie-texto {
    font-size: 10pt;
}

.patrones_variedades {
    display: block;
}

.fotos_lista {
    height: 250px;
}

#newFaq {
    
    margin-top: 25px;
    right: 25px;
    
    width: 50px;
    height: 50px;
    
    position: relative;
    float: right;
}

#delFaq {
    position: absolute;
    margin-left: 20px;
}

#respFaq {
    width: 100%;
}

#addFaqBtn {
    margin-top: 15px;
}

.margin-left-right {
    margin: 0px 30px;
}

.mapaLugares{
    width: 90vw;
    height: 80vh;
}

#colabola{
    width: 80vw;
    overflow-x: no-display;
}

.btnAdd {
    height: 40px;
    background-color: #78AA57;
    border: 1px solid white !important;
    border-radius: 5px !important;
    transition: all .3s ease-in-out !important;
}

.btnAdd:hover {
    background-color: #8F7E4F;
}

@media
only screen 
and (max-device-width: 1024px) {
    
    #newFaq {
        transform: scale(1.5);
        
        right: 50px;
    }
    
    .diff-height {
        min-height: 450px;
    }
}

@media
only screen 
and (max-device-width: 1024px) and (orientation: landscape) {

}

@media
only screen 
and (max-device-width: 740px) {    
    .diff-height {
        min-height: 450px;
    }
}

@media
only screen 
and (max-device-width: 740px) and (orientation: landscape) {

}
