/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2020, 12:15:12
    Author     : daw205
*/
.img-circle {
    border-radius: 100%;
    width: 35% !important;
    height: 35% !important;
    min-height: 100px !important;
    min-width: 100px !important;
    max-height: 100px !important;
    max-width: 100px !important;
}
#filtro{
    height: 40px !important;
}
#btn-filtrado{
    height: 40px !important;
}
.modal input[type=text], .modal input[type=password], .modal input[type=email] {
    width: 100%;
    height: auto !important;
    padding-top: 20px;
    border: none;
    border-bottom: 1px solid white;
    transition: all 0.3s ease;
    outline: none;
}

@media only screen and (max-device-width: 740px) {
    input[type=submit] {
        font-size: 1em !important;
    }
    .img-circle {
        border-radius: 100%;
        width: 20% !important;
        height: 20% !important;
        min-height: 50px !important;
        min-width: 50px !important;
        max-height: 50px !important;
        max-width: 50px !important;
    }
}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
    input[type=submit] {
        font-size: 1em !important;
    }
    .img-circle {
        border-radius: 100%;
        width: 20% !important;
        height: 20% !important;
        min-height: 60px !important;
        min-width: 60px !important;
        max-height: 60px !important;
        max-width: 60px !important;
    }
}
