/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2020, 13:19:11
    Author     : daw205
*/

.img{
    width: 300px;
    height: 300px;
    border:3px white dashed;

    border-radius: 10px;
}
.text_black{
    color:black;
}
.form_base{
    color:white;
    display: block;
    font-size: 1rem;
    background-clip: padding-box;
    background-color: rgba(143, 126, 79, 0.5) !important;
    border: none !important;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px black;

}
.form_control{
    border: none !important;
    color: white;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent !important;
    background-clip: padding-box;
}
.icon_p{
    width: 30px;
    height: 30px;
}

.article {
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 50px auto;
    width: 70%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

#mapa{
    height: 200px;
    padding: 0;
    margin-bottom: 20px;
}

#change-profile .preview {

}

.priview-wraper{
    width: 100px;
    height:100px;
    position: absolute;
    top: 25%;
    right: 10%;
    overflow: hidden;
    border-radius: 100%;


}

.priview-wraper-origal{
    width: 100px;
    height:100px;
    overflow: hidden;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.img-circle{
    border-radius: 100%;
    width: 50% !important;
    height: 50% !important;
    min-height: 200px !important;
    min-width: 200px !important;
    max-height: 200px !important;
    max-width: 200px !important;
}
.passwrd{
    width: 100%!important;
    height: 18% !important;
    padding-top: 0px !important;
}
.input:disabled{
    background-color: rgb(135, 160, 120);
    background-image: url(../../images/icons/contrasenawhite.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid white;
    color: white;
    padding: 6px;
}

.input {
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 6px;
}
.bwr-transparent{
    background-color: transparent !important;
}


.dgcAlert {top: 0;position: absolute;width: 100%;display: block;height: 1000px; background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; text-align:center; opacity:0; display:none; z-index:999999999999999;}
.dgcAlert .dgcVentana{width: 500px; background: white;min-height: 150px;position: relative;margin: 0 auto;color: black;padding: 10px;border-radius: 10px;}
.dgcAlert .dgcVentana .dgcCerrar {height: 25px;width: 25px;float: right; cursor:pointer; background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;}
.dgcAlert .dgcVentana .dgcMensaje { margin: 0 auto; padding-top: 45px; text-align: center; width: 400px;font-size: 20px;}
.dgcAlert .dgcVentana .dgcAceptar{background:#09C; bottom:20px; display: inline-block; font-size: 12px; font-weight: bold; height: 24px; line-height: 24px; padding-left: 5px; padding-right: 5px;text-align: center; text-transform: uppercase; width: 75px;cursor: pointer; color:#FFF; margin-top:50px;}