/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-mar-2020, 11:01:58
    Author     : rafa
*/

.agend{
    height: 150px;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

#img-agenda{
    width: 250px;
    height: 150px;
}

.fc-unthemed .fc-list-item:hover td{
    background: #669249 !important;
    cursor: pointer;
}

.fc-button-primary {
    background-color: rgba(82, 117, 59, 0.98) !important;
    border-color: #fff !important;;
}

#mapaAgenda{
    margin-top: 15px;
}


.fc-event-container{
    cursor: pointer;
}

@media
only screen 
and (max-device-width: 740px) {

    .fc-title{
        font-size: 0.9em !important;
    }

    #muestraEvento{
        margin-top: 100px;
    }
    

}