/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2020, 9:22:31
    Author     : adonoso
*/

html {
    overflow-x: hidden;
}

#pistacho01, #pistacho02 {
    width: 200px;
    height: 100px;
}

.principal {
    width: 100%;
    min-height: 600px;
}

.layer {
    width: 100px;
    height: 100px;
}

.principal-container {
    padding-left: 1.5%;
    margin-top: -50px;
    width: 100%;
    height: 700px;
}

#principal {
    width: 100%;
    margin: 0;
    padding: 0;
}

#logomovil {
    margin-left: 39%;
    margin-right: 39%;
    width: 325px;
    height: 320px;
    position: absolute;
    z-index: 10;
}