/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2020, 9:22:31
    Author     : adonoso
*/

#pistacho01, #pistacho02 {
    width: 200px;
    height: 100px;
}

.principal {
    width: 100%;
    min-height: 600px;
}

.layer {
    width: 100px;
    height: 100px;
}

.principal-container {
    height: 700px;
}

#principal {
    width: 100%;
    margin: 0;
    padding: 0;
}