/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2020, 11:54:31
    Author     : rafa
*/

#migas{
    background: none;
}

#events{
    width: 100%;
}