/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ene-2020, 11:54:31
    Author     : rafa
*/

th,td {
    text-align: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=text], input[type=number], input[type=date] {
    width: fit-content;
    
    border: 1px solid white;
    text-align: center;
}

button {
    transition: 0.3s ease-in all !important;
}

input[type=submit] {
    transition: 0.3s ease-in all !important;
}

p {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}

#migas {
    background: none;
}

#events, #tablaAdminDocument, #tablaAdminInformes {
    width: 100%;
}

#mainTable {
    margin-left: 2%;
    margin-right: 2%;
    padding: 4.5%;
    border-radius: 15px;
    
    height: calc(100% - 100px);
    background-color: rgba(92, 79, 43, 0.6);
}

#productName {
    margin-left: 5px;
    border: 1px solid white;
    width: 70%;
    height: 30px;
    padding: 0;
}